In [1]:
#importing libraries
import ast
import pandas as pd
import matplotlib.pyplot as plt
from datasets import load_dataset

# loading Data
dataset = load_dataset("lukebarousse/data_jobs")
df = dataset["train"].to_pandas()

#Data Cleanup
df["job_posted_date"] = pd.to_datetime(df["job_posted_date"])
df['job_skills']  = df['job_skills'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x)

/home/adenian/anaconda3/envs/python_course/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
# Only get Data Analyst jobs in the United States
df_DA_US = df[(df['job_title_short'] == 'Data Analyst') & (df['job_country'] == 'United States')].copy()

# Drop NaN values in salary_year_avg for accurate visualization
df_DA_US = df_DA_US.dropna(subset=['salary_year_avg'])

In [ ]:
df_DA_US = df_DA_US.explode('job_skills')

df_DA_US[['salary_year_avg', 'job_skills']]

df_DA_US_group = df_DA_US.groupby('job_skills')['salary_year_avg'].agg(['count', 'median'])

df_DA_top_pay = df_DA_US_group.sort_values(by='median', ascending=False).head(10)
 
df_DA_skills = df_DA_US_group.sort_values(by='count', ascending=False).head(10)

            count    median
job_skills
sql          2508  91000.00
excel        1808  84392.00
python       1431  97500.00
tableau      1364  92875.00
sas           926  90000.00
r             893  92500.00
power bi      838  90000.00
powerpoint    462  85000.00
word          461  81194.75
sql server    286  92500.00

In [ ]:
fig, ax = plt.subplots(1, 2, figsize=(20, 10))

df_DA_top_pay.plot(kind='barh', y='median', ax=ax[0])
df_DA_skills.plot(kind='barh', y='count', ax=ax[1])