In [3]:
from datasets import load_dataset

# loading Data
dataset = load_dataset("lukebarousse/data_jobs")
df_original = dataset["train"].to_pandas()

In [4]:
df_altered = df_original.copy()

In [6]:
df_altered.loc[:5, "salary_year_avg"]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: salary_year_avg, dtype: float64

In [7]:
df_original.loc[:5, "salary_year_avg"]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: salary_year_avg, dtype: float64

In [11]:
median_salary = df_altered["salary_year_avg"].median()

df_altered["salary_year_avg"] = df_altered["salary_year_avg"].fillna(median_salary)

In [12]:
df_altered.loc[:5, "salary_year_avg"]

0    115000.0
1    115000.0
2    115000.0
3    115000.0
4    115000.0
5    115000.0
Name: salary_year_avg, dtype: float64

In [13]:
df_original.loc[:5, "salary_year_avg"]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: salary_year_avg, dtype: float64

In [19]:
print("ID of original Dataframe:",                      id(df_original))
print("ID of altered Dataframe:",                        id(df_altered))
print("Are the ID of the DF the same?:", id(df_original)==id(df_altered))

ID of original Dataframe: 123582155101456
ID of altered Dataframe: 123579751415504
Are the ID of the DF the same?: False